body {
  margin: 0;
  padding: 0;
  background-image: url("bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  min-height: 100vh;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  display: flex;
}

header {
  margin: 0;
  padding: 0;
  text-align: center;
  top: 0;
  position: fixed;
  height: 90px;
  width: 100%;
  z-index: 999;
}

h1 {
  font-family: 'Vollkorn', serif;
}

.logo {
  left: 0;
  margin: 1rem 7vw;
  position: absolute;
  padding: 0;
}

.navbar {
  margin: 0;
  position: absolute;
  text-align: left;
  right: 0;
  background: hsl(0 0% 100% / 0.1); /* HSL stands for hue, saturation, and lightness. Po slashu jest opacity */
  backdrop-filter: blur(1rem);
  height: 100vh;
  width: 65vw;
  padding-top: 8em;
  letter-spacing: 1px;
  transform: translateX(0%);
  transition: transform 400ms ease-out;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar li {
  margin-bottom: 2em;
  margin-left: 2em;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 6vw;
}

.navbar a:hover {
  color: #C9CCD5;
}

.navbar-icon {
  margin: 0;
  padding: 0;
  height: 80px;
  width: 100px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
}

.navbar-icon span {
  right: 2rem;
  top: 2rem;
  height: 4px;
  width: 2rem;
  position: absolute;
  background: #ffffff;
  transition: all 0.3s ease-in-out;
}

.navbar-icon span:nth-child(1) {
  top: 35px;
}

.navbar-icon span:nth-child(2) {
  top: 48px;
}

.navbar-icon span:nth-child(3) {
  top: 61px;
}

.navbar-icon.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 45px;
  right: 2rem;
}

.navbar-icon.open span:nth-child(2) {
  width: 0;
  opacity: 0;
}

.navbar-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 45px;
  right: 2rem;
}

.invisible {
  transform: translateX(100%);
}

.content {
  margin: 7vw;
  display: flex;
  padding-top: 6.5em;
  flex-direction: column;
  width: 80vw;
  gap: 1rem;
}

.content h1 {
  font-size: 14vw;
  font-weight: 500;
  margin-bottom: 0;
}

.content p {
  line-height: 1.4em;
  font-size: 0.9rem;
  letter-spacing: 0.7px;
  font-family: 'Vollkorn', serif;
  font-weight: 200;
}

.content button {
  position: relative;
  color: #FFFFFF;
  background: transparent;
  border: 0.1em solid #FFFFFF;
  padding: 1.25em 1.25em;
  font-size: 4vw;
  width: 60vw;
  transition: 0.6s;
}

.content button:hover {
  color: #111111;
  background-color: #FFFFFF;
}



footer {
  margin-top: auto;

}

.social-icons {
  margin: 7vw;
  display: flex;
  gap: 3rem;
  justify-content: flex-start;
}

.social-icons a{
  color: white;
  text-decoration: none;
  font-size: 6vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.social-icons a:hover {
  color: #C9CCD5;
}

@media only screen and (max-width: 600px) {

  body {
  background-position: 50% center;

  }

  header img {
    width: 15vw;
    height: 20vw;
  }



}

@media only screen and (min-width: 600px) {

  body {

  }

  header img {
    width: 4vw;
    height: 5vw;
  }

  .content {
    width: 35vw;
  }

  .content h1 {
    font-size: 6vw;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: auto;
  }

  .social-icons {
    margin: 0 7vw 2vw;
    display: flex;
    gap: 6vw;
    justify-content: flex-start;
  }

  .social-icons a {
    font-size: 1.3vw;
  }

  .content button {
    font-size: 1vw;
    width: 15vw;
  }

  .navbar-icon {
    display: none;
  }

  .navbar {
    position: absolute;
    margin: 1rem 7vw;
    right: 0;
    background: none;
    backdrop-filter: none;
    height: 2vw;
    width: 45vw;
    padding-top: 1rem;
    letter-spacing: 1px;
    transform: none;
  }

  .navbar ul {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: flex-end;
  }

  .navbar a {
    font-size: 1vw;
  }

}
